    <div class="col-lg-8 text-center">
        <article class="post">
            <div class="post-header">
                <!--<span class="cat">
                    <a>Break</a>
                </span>-->
                <h2 class="text-capitalize">
                    <span>
                        <a>Contact</a>
                    </span>
                </h2>
                <!--<span class="date">Wednesday, March 04, 2015</span>-->
            </div>
            <!--<div class="post-image">
                <img src="img/Heart-with-a-red-oil-pastel.jpg" />
            </div>-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!--<button type="button" class="text-capitalize btn-default pull-left more-link">Read More...</button>-->
        </article>
    </div>
    <div class="col-lg-8">
        <form class="form-horizontal" action="" method="post">
            <fieldset>
                <!-- Name input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Name</label>
                    <div class="col-md-9">
                        <input id="name" name="name" type="text" placeholder="Your name" class="form-control" ng-model="vm.emailInfo.userName">
                    </div>
                </div>

                <!-- Email input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="email">Your E-mail</label>
                    <div class="col-md-9">
                        <input id="email" name="email" type="text" placeholder="Your email" class="form-control" ng-model="vm.emailInfo.emailAddress">
                    </div>
                </div>

                <!-- Message body -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="message">Your message</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5" ng-model="vm.emailInfo.messageBody"></textarea>
                    </div>
                </div>

                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="button" class="text-capitalize btn-default more-link" ng-click="vm.sendMail()">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
