        <div class="col-lg-8">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <td>All Dates</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody ng-repeat="date in vm.dates">
                    <tr>
                        <td>{{date.desc}}</td>
                        <td>{{date.price | currency}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <h1>{{vm.rand}}</h1>
                <button type="button" class="btn btn-primary" ng-click="vm.randomNumber()">New Date</button>
            </div>

            <div class="text-center">
                <h3>Category select</h3>
                <div class="input-group">
                  <select class="form-control" ng-model="vm.categorySelected.category">
                      <option value="">--Select--</option>
                      <option ng-repeat="date in vm.dates | unique:'category'">{{ date.category }}</option>
                  </select>
                </div>
            </div>
        </div>
    </div>
</div>
