    <div class="col-lg-8 text-center">
      <div ng-repeat="item in vm.blogs.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">
        <article class="post">
            <div class="post-header">
                <span class="cat">
                    <a>{{item.category}}</a>
                </span>
                <h2 class="text-capitalize">
                    <span>
                        <a>{{item.title}}</a>
                    </span>
                </h2>
                <span class="date">{{item.date}}</span>
            </div>
            <div class="post-image">
                <img ng-src="{{item.pic}}" />
            </div>
            <p class="text-justify">{{item.text | limitTo:vm.previewLimit}}...</p>
            <button type="button" class="text-capitalize btn-default pull-left more-link" ui-sref="view({id: item.id})">Read More...</button>
        </article>

        <div class="post-share">
            <a><span class="share-box"><i class="fa fa-facebook"></i></span></a>
            <!-- <a><span class="share-box"><i class="fa fa-twitter"></i></span></a> -->
            <a><span class="share-box"><i class="fa fa-pinterest"></i></span></a>
            <!-- <a><span class="share-box"><i class="fa fa-google-plus"></i></span></a> -->
            <a><span class="share-box"><i class="fa fa-comment-o"></i></span></a>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" items-per-page="vm.itemsPerPage"></ul>
      </div>
    </footer>
</div>
